@import url('https://fonts.googleapis.com/css?family=Bree+Serif');
$fullscreen :calc(100vh - 3.25rem);

.header {

  &::before {
    content: "";
    -webkit-filter: grayscale(90%);
    filter: grayscale(90%);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
    min-height: $fullscreen;
    background-image: url(./Images/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -20;
    margin-right: 0px !important;
    margin-left: 0px !important;
  }

  .overlay {
    background-color: rgba(255, 255, 255, 0.674);
    min-height: $fullscreen;
    margin-top: 3.25rem;

    .header-content {
      text-align: center;
      margin-top: 240px;

      img.logo {
        -webkit-filter: grayscale(0);
        -moz-filter: grayscale(0);
        -ms-filter: grayscale(0);
        -o-filter: grayscale(0);
        filter: grayscale(0);
        width: 150px;
        height: 150px;
        // border-radius: 100px;
        // background-color: #f5F5F5;
        filter: drop-shadow(5px 5px 4px #0000009f);
      }

      h1 {
        color: #f5F5F5;
        text-shadow: 5px 5px #000;

        .h1-active {
          font-family: 'Bree Serif',
            serif;
          color: #2CBB26 !important;
        }
      }
    }
  }
}