
.tex {
    h2 {
        @import url('https://fonts.googleapis.com/css?family=Crete+Round');
        font-family: 'Crete Round', serif !important;
        font-weight: 500 !important;
        font-size: 500% !important;
    }
    p {
        @import url('https://fonts.googleapis.com/css?family=Crete+Round');
        font-family: 'Crete Round', serif !important;
    }
}
