@import url('https://fonts.googleapis.com/css?family=Bree+Serif');

.card {
  border-radius: 20px !important;
  overflow: hidden;
  box-shadow: 0 5px 5px 1px rgba(10, 10, 10, .05);

  &:hover {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18),
      0 4px 15px 0 rgba(0, 0, 0, .15) !important;
  }

  &-no-radius {
    border-radius: 0px !important;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    overflow: hidden;
    box-shadow: 0 5px 5px 1px rgba(10, 10, 10, .05);

    span {
      margin: auto;
      font-size: 150%;
      color: white;
      font-family: 'Bree Serif', serif;
    }
  }

  span {
    margin: auto;
    font-size: 150%;
    color: white;
    font-family: 'Bree Serif', serif;
  }
}
